body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #1492db; /* Web sayfasının arka plan rengi */
    color: #da1bb0; /* Metin rengi */
}

h1 {
    color: #fd4800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h2{color:#1bdada}