body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #ffffff; /* Web sayfasının arka plan rengi */
    color: #1e1bdaf6; /* Metin rengi */
}

h1 {
    color: #00fd00; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h2{color:#da1b1b}